body {
    overflow-x: hidden;
    font-weight: normal;
    background-color: #f3f8fd;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.heading{
    align-content: center;
}

.home {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
    background-color: yellow;
    grid-template-rows: 218px 994px;
}

.card {
    height: 736px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.3);
    background-color: white;
    
    display: grid;
    grid-template-rows: 1fr 36px;

    &-inputs {
        background-color: red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
}

.input {
    display:grid;
    grid-template-columns: 26px 1fr;

    &-title {
        grid-column: 2;
    }
    input{
        grid-column: 2;
    }
    &-number {
        grid-column: 1;
    }
}
