body {
    background-color: #f3f8fd;
    margin: 0px;
}
.gray{
    background: #555;
}

.blue{
    background: #50a9ff;
}

.home {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-rows: 218px 994px;
}


.header{
    color: white;
    text-align: center;
    align-self: center;

    h1{
        font-family: 'Staatliches', cursive;
        font-size: 4.5em;
        
    }
    h3 {
        font-family: 'Montserrat', cursive;
        margin-top: -60px;
        
    }
    
    p{
        font-family: 'Montserrat', cursive;
        width: 403px;
        margin-left: auto;
        margin-right: auto;
    }

    &-skew {
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        height: 495px;
        width:100vw;
        background-color: #50a9ff;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 75%);
        clip-path: polygon(0 0, 100% 0%, 100% 20%, 0 75%);
    }
    &-second-skew {
        position: absolute;
        z-index: -2;
        top:0;
        left:0;
        height: 495px;
        width:100vw;
        background-color: #94ccfd;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 35%);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 35%);
    }
}



.card {
    //min-height: 300px;
    max-height: 750px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.5);
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 1fr 36px;
    

    &-inputs {
        //background-color: red;
        display: grid;
        grid-template-columns: repeat(4, 205px);
        grid-template-rows: repeat(4, 46px);
        justify-items: center;
        align-items: center; 
        grid-row-gap: 45px;
        grid-column-gap: 70px;
        margin-right: auto;
        margin-left: auto;
        
    }

    button{
        font-family: 'Staatliches', cursive;
        letter-spacing: 1px;
        color: white;
        font-size: 1.3em;
        border: none;
        width: 25%;
        justify-self: center;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(0,0,0,.5);
        z-index: 1;
        &:focus {
            outline: none;
        }
    }

    &-generate {
        background-color: #94ccfd;
        transform: translateY(-205px);
        
    }

    &-clear {
        background-color: #555;
    }

    &-content{
        height: 250px;
        width: 1100px;
        background-color:  #f3f8fd;
        justify-self: center;
        font-family: 'Montserrat', cursive;
        font-size: .9em;
        font-weight: 200;
        color:#555;
        
        transform: translateY(-15px);
        margin-bottom: 45px;

        p{
            padding: 20px;
            text-align: justify;
            width: 85%;
            margin-left: auto;
            margin-right: auto;
        }

        &-label {
            background-color: #555;
            color: white;
            font-size: .7em;
            height: 1.1em;
            width: 1.1em;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
        }
    }


}



.input {
    display:grid;
    grid-template-columns: 28px 1fr;
    font-family: 'Montserrat', cursive;
    column-gap: 5px;
    text-align: center;
    margin-top: 100px;
    
  
    
    

    &-title {
        grid-column: 2;
        padding-top: 3px;
        color:#50a9ff;
        font-size: 12px;

    }
    input{
        grid-column: 2;
        border:none;
        font-size: 15px;
        color:#555;
        text-align: center;
        border-bottom: 1px solid #555;
        font-weight: 600;
        margin: 2px 0px;
        transition: all .1s ease;
        &:focus {
            outline: none;
            border-bottom: 2px solid #94ccfd;
        }
    }
    &-number {
        grid-column: 1;
        color: white;
        font-size: 20px;
        line-height: 24px;
        padding: 2px;
        border-radius: 50%;
        width: 24px;
        
    }
}

