body {
    background-color: #f3f8fd;
    margin: 0px;
}

.home {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-rows: 218px 994px;
}


.header{
    align-content: center;

    &-skew {
        position: absolute;
        z-index: -1;
        top:0;
        left:0;
        height: 495px;
        width:100vw;
        background-color: #94ccfd;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 10%, 0 75%);
        clip-path: polygon(0 0, 100% 0%, 100% 10%, 0 75%);
    }
    &-second-skew {
        position: absolute;
        z-index: -2;
        top:0;
        left:0;
        height: 495px;
        width:100vw;
        background-color: #50a9ff;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 35%);
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 35%);
    }
}



.card {
    min-height: 736px;
    max-height: 994px;
    width: 1240px;
    box-shadow: 0 4px 30px 0 rgba(0,0,0,.3);
    background-color: white;
    border-radius: 7px;
    
    display: grid;
    grid-template-rows: 1fr 36px;

    &-inputs {
        background-color: red;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
}

.input {
    display:grid;
    grid-template-columns: 26px 1fr;

    &-title {
        grid-column: 2;
    }
    input{
        grid-column: 2;
    }
    &-number {
        grid-column: 1;
    }
}
